*

{

background-image: url("./components/bg.jpg");

background-repeat: no-repeat;

background-size: cover;

}

.container{

margin-left: 15%;

margin-right: 15%;

margin-top: 1em;

display: flexbox;

background: rgba(0,0,0, 0.2);

justify-content: center;

padding-top: 2em;

padding-bottom: 2em;

}

.container:hover{

background:rgba(51, 29, 92, 0.5);

}

header{

padding-top: 0.3em;

text-align: center;

font-size: 5em;

font-style: italic;

background: none;

color: rgb(250, 244, 244);

}