/*#p1{
    background-color:aqua;
    border:solid 3px black;
    color: black;
}
#p2{
    background-color:aqua;
    border:solid 3px black;
    color: black;
}
#p3{
    background-color:aqua;
    border:solid 3px black;
    color: black;
}
#p4{
    background-color:aqua;
    border:solid 3px black;
    color: black;
}
#p5{
    background-color:aqua;
    border:solid 3px black;
    color: black;
}
*/